@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./variables.css");
@import url("./tailwind-classes.css");
@import url("./mantine.css");

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

img,
button {
  user-select: none;
}

button{
  text-transform: capitalize !important;
}

/* hide scroll bar */
/* chrome */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content-height {
  height: calc(
    100vh - var(--navbar-height) - var(--layout-p-y) - var(--layout-p-y)
  );
}
