.underside_bg {
  background-image: url("../../../../public/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.underside_bg::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
}