.topBox {
  background-image: url("../../../../public/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topBox::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
}
