.underside_bg,
.topBox {
  background-image: url("../../../../../public/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.underside_bg,
.underside_bg_container {
  inset-inline-start: calc(var(--sidebar-width) + var(--layout-p-x));
  inset-inline-end: 0;
  z-index: -1;
}

.underside_bg::after,
.topBox::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
}
